*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.section {
	width: 100%;
	min-height: 100vh;
	background-image: url('..//img/pattern.png');
	background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;	
}

.container1 {
	width: 80%;
	display: block;
	margin:auto;
	padding: 30px;
	margin: 90px;
	margin-top: 60px;
}

.content-section {
	float: left;
	width: 60%;
}

.image-section {
	float: right;
	width: 40%;

}

.image-section img {
	position: relative;
    top: 10px;
	left: 90px;
	width: 350px;
    height: 450px;
    display: block;
    margin: auto;
}

.content-section .title {
	margin-top: 50px;
	font-size: 35px;
	color: #4a4a4d;
	font-weight: bold; 
}


.point {
	color: #8c7568;
}


.separator {
	position: relative;
	top: 15px;
}

.content-section .content p {
	margin-top: 5px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.first-paragraph {
	color: #4a4a4d;
	font-weight: bold;
}

.second-paragraph {
	color: #7d7d7d;
}

.buttons {
	float: center;
	margin-left: -10px;
	margin-top: 10px;
}

.button {
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold; 
    margin-left: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
	margin-top: 10px;
}
  
.button2 {
    background-color: white; 
    color:#8C7568;  
    border: 2px solid #8C7568;
}
  
.button2:hover {
    background-color: #8C7568;
    color: white;
}
 
.button3 {
    background-color: #8C7568; 
    color: white;  
    border: 2px solid #8C7568;
}
  
.button3:hover {
    background-color: #343436;
    color: white;
    border: 2px solid #343436;
}


.content-section .social {
	float: center;
	margin-left: -10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content-section .social i {
	color:#8C7568;
	font-size: 30px;
	margin: -5px;
	padding:0px 10px;
}

.content-section .social i:hover {
	color: rgb(90, 90, 90);
    opacity: 0.8;
}

@media screen and (max-width: 992px) {
	.container {
		width: 80%;
		display: block;
		margin:auto;
		padding-top:50px;
    }

   .content-section {
		float:none;
		width:100%;
		display: block;
		margin:auto;
   }

   .image-section {
		float: none;
		width:100%;	
   }
     
   .image-section img {
		width: 100%;
		height: auto;
		display: block;
		margin:auto;
   }

   .content-section .title {
		text-align: left;
		font-size: 19px;
   }

   .content-section .social {
	    text-align: left;
    }

	.button2 {
		width: 260px;
	}
	  
	.button3 {
		width: 260px;
	}
	  
}
