@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@900&display=swap');

:root {
    --accent-color: #8c7568;
}
section.question-answer-section {
    display: flex;
    padding: 90px 0px 100px 0px;
    background-image: url(img/FAQ-background.png);
    background-size:cover;
    background-repeat: no-repeat;
}
.question-answer-section .faq {
    width: 100%;
    padding: 0px 15px 0px 15px;
    margin: 0px 296px 0px 296px;
} 
.question-answer-section .question-answer-header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    margin: 10px 0px 0px 0px;
    margin-right: 0;
    padding: 15px;
    width: 1170px;
    height: 170px;
}
.question-answer-section .question-answer-header .faq-title {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.question-answer-header .faq-title #faq-dot {
    color: var(--accent-color);
    margin-left: -15px
}
div .question-answer-logo {
    width: 1170px;
    height: 50px;
    font-weight: 700;
}
div .question-answer-logo {
    display: flex;
    justify-content: center;
    padding: 0px 25px;
    margin-bottom: 0;
}
div .question-answer-logo svg {
    
    max-width: 130px;
    max-height: 50px;
}
div .question-answer-about {
    height: 70px;
    font-size:18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
}
div .faq-content {
    display: inline-flex;
    justify-content: space-evenly;
    width: 1200px;
    height: 580px;
}
div .smes-title {
   
    font-family: 'Open sans', sans-serif;
    font-size: 1.5em;
    font-weight:700;
}
div .smes-content {
    display: inline; 
    margin-top: 15px;
    padding: 0px 15px 0px 15px;
}
div .left-side-content {
    margin-top: 20px;
    font-family: 'Open sans', sans-serif;
    font-size: 0.83em;
    opacity: 90%;
}
.useful-smes, .offers-smes, .market-smes, .checking-smes, .satisfaction-smes {
    font-size: 1.3em;
    font-weight: 600;
}
div .large-corporations-title {
    font-family: 'Open sans', sans-serif;
    font-size: 1.5em;
    font-weight:700;
}
div .large-corporations-content {
    display: inline;
    margin-top: 10px;
    padding: 0px 15px 0px 15px;
    
} 
div .right-side-content {
    margin-top: 20px;
    font-family: 'Open sans', sans-serif;
    font-size: 0.83em;
    opacity: 90%;
}
.exp-large-corporations, .big-large-corporations, .plan-large-corporations, 
.exclusive-large-corporations, .support-large-corporations {
    font-size: 1.3em;
    font-weight: 600;
}