@import url(../fonts/Roboto-Bold.ttf);

    :root {
        --accent-color: #8c7568;
    }

    .faq-content {
        max-height: 100vh;
    }

    div.banner-logo {
        max-height: 100vh;
        width: 100%;
        padding: 65px 0px;
        margin-bottom: 30px;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        background: url(../img/faq-background.png);
        background-size:cover;
    }
    /* Header styling* =====> */

    .faq-header {
       display: flex ;
       justify-content:space-between ;
       align-items: center;
       flex-direction: column;
       margin-bottom: 15px;
    }

    .faq-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        font-weight: 700;
        margin-top: 30px;
    }

    #faq-dot {
        color: var(--accent-color);
    }

    .faq-logo {
        justify-content: center;
        align-items: center;
    }

    .faq-about {
        margin-top: 15px;
        font-size: 20px;
    }

    /* Main content styling ======> */
    .container {
        max-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .smes-title {
        margin-left: 60px;
    }

    .corps-title {
        margin-left: 60px;
    }

    .accordion-item {
        text-align: left;
        margin-left:40px;
    }

    /*  Responsive styling*/

    @media (max-width:300px) {
        .faq-header .container {
            margin-top: 6vh;
            left: 0px;
            width: 100%;
            display: grid;
            grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            
        }
    }

    @media (max-width:750px) {
        .container {
        
        left: 0px;
        width: 100%;
        display: grid;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        
        }
    }
    
    @media (max-width:550px) {
        .faq-title {
            font-size: 30px;
        }
    }
   