* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #343436;
    font-size: 18px;
    color: white;
    padding: 28px;
    
}

nav .mainMenu {
    display: flex;
    list-style: none;
    margin-right: 100px;   
}

nav .mainMenu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;    
}

nav .mainMenu li a:hover {
    color: #8C7568;
}

nav .openMenu {
    font-size: 16px;
    margin: 20px;
    display: none;
    cursor: pointer;  
    
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.icons {
    display: flex;
    position: relative;
    margin-left: 90px;
   
    
    
    
}


.icons i {
    display: block;
    padding: 12px;  
    color:#8c7568;
    
}

.fa-facebook:hover {
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.fa-instagram:hover {
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.fa-youtube:hover {
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #343436;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: #8C7568;
        font-size: 18px;
        font-weight: bold;  
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }

}

  