@import url(fonts.css);

:root {
    --header-text-color: #4a4a4d;
    --svg-steps-color: #f1f3f3;
}

.header-text-color{
    color: var(--header-text-color);
}

.general_background {
    background-image: url(../img/background_how_we_work.png);
    background-size: cover;
    background-position: 80% 50%;
    min-height: 100vh;
    max-width: 100%;
    padding: 30px 0px 0px 30px;
    min-width: 320px;
}

.how_we_work {
    background-color: #ffffff;
    max-width: 90%;
    padding: 50px 20px;
}

h2, h3, h4 {
    font-family: 'Roboto-Bold', sans-serif;
}

h2 {
    font-size: 28px;
}

p {
    font-family: 'OpenSans-Semibold', sans-serif;
    font-size: 16px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

.time {
    font-size: 11px;
    font-family: 'OpenSans-Light', sans-serif;
}

.a_events_blocks, .a_duties {
    font-size: 13px;
    color: #ffffff;
    font-family: 'Roboto-Light', sans-serif;
}

a:hover {
    color: #8c7568;
}

.space_before_events_header {
    margin-top: 30px;
}

.space_before_events_a {
    margin-top: 60px;
}

.svg_for_how_we_work {
    width: 26px;
    display: block;
    margin: auto;
}

.svg_for_duty {
    width: 50px;
}

.img_for_events {
    width: 488px;
}

/* @media (min-width: 992px) {
    .img_for_events {
        
    }
} */

.event {
    background-color: #343436;
    display: block;
    margin: auto;
    margin: 20px;
}

.text_inside_events {
    padding: 25px 15px 20px 15px;
}

.p_events {
    padding-bottom: 20px;
}

div .events_blocks > article img {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .events_blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.careers_header {
    text-align: center;
}

.empty_block {
    min-width: 260px;
    min-height: 863px;
    display: none;
    max-width: 90%;
}

/* @media(min-width: 768px) {
    .empty_block {
        display: block;
    }
} */

@media(min-width: 768px) {
    .general_background {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media(max-width: 767px) {
    .how_we_work {
        display: block;
        margin: auto;
    }
}

.block_with_text, .empty_block {
    padding: 0px 15px;
}

.steps_svg {
    background-color: var(--svg-steps-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.step {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 5px;
    padding: 10px;
    margin-top: 20px;
    
}

#step {
    padding-left: 15px;
}

.list_of_steps {
    list-style: none;
    padding-top: 5px;
}

.snake_how_we_work-careers {
    padding: 0px 0px;
}

.careers_center {
    display: block;
    margin: auto;
    width: 70px;
    height: 20px;
    padding: 0px 0px 25px 0px;
}

.events_data, .events_description {
    color: #ffffff;
}

.events_time {
    color: #969696;
    font-weight: 100;
    font-size: 13px;
}

.events {
    padding: 0px 24px 0px 24px;
    background-color: #f7f5f5;
}

.text_block_events {
    padding: 80px 20px 0px 20px;
}

.button_our_team {
    display: block;
    margin: auto;
    width: 117px;
    height: 50px;
    border: 2px solid #8c7568;
    color: #8c7568;
    background-color: rgb(0, 0, 0, 0);
    text-decoration: none;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 15px;
    padding: 10px 6px 10px 6px;
}

#conteiner_for_button_our_team {
    margin-top: 40px;
    padding-bottom: 40px;
}