@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
}

.why_choose_us {
    display: block;
    background-image: url(../img/why_choose_us-background.png);
    height: 860px;
}

img.diamond-icon, img.question_answer-icon, img.target-icon {
    height: 100px;
    width: 100px;
}

div.w_c_u_header {
    display: block;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.w_c_u_header h2{
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    margin-bottom: 20px;
}

.w_c_u_header p {
    font-family: 'Roboto', sans-serif;
    font-size: 18.5px;
    margin-top: 20px;
}

.w_c_u_cards-container {
    display: flex;
    justify-content: center;
}

div.experience, div.support, div.technologies {
    width: 370px;
    height: 440px;
    background-color: #ffffff;
}

div.experience {
    display: block;
}

img.diamond-icon, img.question_answer-icon, img.target-icon {
    margin: 30px auto 20px 35px;

}

.experience h3, .support h3, .technologies h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0 auto 20px 35px;
}

.experience p, .support p, .technologies p {
    margin: 0 45px 0 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px; 
}

.experience ul, .support ul, .technologies ul {
    margin: 2px auto auto 55px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 35px;
}

div.support {
    display: block;
    margin: 0 30px 0 30px;
}



.services {
    display: block;
    background-image: url(../img/services-background.png);
    height: 1185px;
}

div.services-header {
    display: block;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 45px;
}

div.services-header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-bottom: 15px;
}

div.services-header p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

div.card-top {
    background-image: url(../img/services_card_top-background.jpg);
    display: flex;
    width: 1170px;
    height: 320px;
    margin: 0 auto 30px 175px;
    
}

div.card-bottom {
    background-image: url(../img/services_card_bottom-background.jpg);
    display: flex;
    width: 1170px;
    height: 320px;
    margin-left: 175px;
}

img.services_top-image, img.services_bottom-image {
    width: 585px;
    height: 320px;
} 

div.card-top h3, div.card-bottom h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 45px auto 20px 80px
}

div.card-top p, div.card-bottom p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 27.68px;
    margin: 0 90px auto 80px;
}

/* .services form {
    text-align: center;
    padding: 20px 0 20px 0;
    border: black solid;
} */








