@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
}

:root {
    --black-color: rgb(74, 74, 77);
    --white-color: rgb(255, 255, 255);
    --light-color: rgb(125, 125, 125);
    --brown-color: #8c7568;
}

.why_choose_us {
    display: block;
    background-image: url(../img/why_choose_us-background.png);
    background-size: cover;
    min-height: 860px;
}

span.title-dot {
    color: var(--brown-color);
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

img.snake-icon {
    display: block;
    margin: auto;
}

img.diamond-icon, img.question_answer-icon, img.target-icon {
    height: 100px;
    width: 100px;
}

div.w_c_u_header {
    display: block;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.w_c_u_header h2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: var(--black-color);
    margin-bottom: 20px;
    font-weight: 900;
}

.w_c_u_header p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--black-color);
    margin-top: 20px;
    font-weight: 500;
}

.w_c_u_cards-container {
    display: flex;
    justify-content: center;
}

div.experience, div.support, div.technologies {
    width: 370px;
    height: 440px;
    background-color: #ffffff;
}

div.experience {
    display: block;
}

img.diamond-icon, img.question_answer-icon, img.target-icon {
    margin: 30px auto 20px 35px;

}

.experience h3, .support h3, .technologies h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: var(--black-color);
    margin: 0 auto 20px 35px;
    font-weight: 700;
}

.experience p, .support p, .technologies p {
    margin: 0 45px 0 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--light-color);
    line-height: 28px;
    font-weight: 400; 
}

.experience ul, .support ul, .technologies ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--light-color);
    line-height: 27.68px;
    list-style-type: none;
    font-weight: 400;
}

span.list-dot {
    color: var(--brown-color);
    font-size: 50px;
    margin-right: 5px;
}

div.support {
    display: block;
    margin: 0 30px 0 30px;
}



.services {
    display: block;
    background-image: url(../img/services-background.png);
    background-size: cover;
    min-height: 1185px;
}

div.services-header {
    display: block;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 45px;
}

div.services-header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: var(--white-color);
    margin-bottom: 15px;
    font-weight: 900;
}

div.services-header p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--white-color);
    margin-top: 20px;
    font-weight: 500;
}

div.card-top {
    background-image: url(../img/services_card_top-background.jpg);
    display: flex;
    max-width: 1170px;
    height: 320px;
    margin: 0 auto 30px 175px;
}

div.card-bottom {
    background-image: url(../img/services_card_bottom-background.jpg);
    display: flex;
    max-width: 1170px;
    height: 320px;
    margin-left: 175px;  
}

img.services_top-image, img.services_bottom-image {
    width: 585px;
    height: 320px;
    
} 

div.card-top h3, div.card-bottom h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: var(--white-color);
    margin: 45px auto 20px 80px;
    font-weight: 700;  
}

div.card-top p, div.card-bottom p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 27.68px;
    color: var(--white-color);
    margin: 0 90px auto 80px;
    font-weight: 400;
}

.services form {
    text-align: center;
    margin-top: 40px;    
}

.services a {
    display: inline-block;
    padding: 15px 15px 15px 15px;
    border: 2px solid #8c7568;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}

.services a:hover {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--brown-color);
    opacity: 0.9; 
    transition: 0.4s 0.1s ease;
}

.subscribe_now {
    background-image: url(../img/subscribe_now-background.png);
    background-size: cover;
    min-height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.subscribe_now-container {
    position: relative;
    max-width: 570px;
    text-align: center;
    background-color: var(--white-color);
}

div.subscribe_now-container h2 {
    color: var(--black-color);
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 900;
}

div.subscribe_now-container p {
    color: var(--black-color);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: 25px 40px 30px 40px;
    font-weight: 600;
}

div.input-group.flex-nowrap {
    max-width: 500px;
    min-height: 50px;
    margin-left: 35px;
}

input.form-control {
    background-color: rgba(52, 52, 54, 0.12);
}

button.submit-button {
    margin: 25px 35px 35px 35px;
    min-width: 500px;
    min-height: 50px;
    background-color: rgb(52, 52, 54);
    color: var(--white-color);
    font-weight: 500;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3%;

    
}

.submit-button:hover {
    background-color: var(--brown-color);
    opacity: 0.9; 
    transition: 0.4s 0.1s ease;
}
















